@import "bootstrap/_variables";
@import "bootstrap/_mixins";

@font-face {
  font-family: 'Glyphicons Halflings';
  src: font-url('fonts/glyphicons-halflings-regular.eot');
  src: font-url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  font-url('fonts/glyphicons-halflings-regular.woff') format('woff'),
  font-url('fonts/glyphicons-halflings-regular.ttf') format('truetype'),
  font-url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body {
    font-family: Arial;
    font-size: 14px;
    color: #333333;

    h2 {
        color: #59c5c7;
        text-transform: uppercase;
        border-bottom: 1px dashed #eee;
        padding-bottom: 5px;
    }

    a {
        color: #ed0c7e !important;
    }
    #search-block {
        width: 22%;
        float: left;
    }
    .navbar-nav {
        width: 78%;
        float: left;

        li {
            a {
                text-transform: uppercase;
                color: #59c5c7 !important;

            &:hover {
              color: #ed0c7e !important;
            }
            }
        }
    }
    .container-fluid {
        max-width: 1170px;

        #main {
            .connect-links {
                padding-right:0;

                li {
                    display: inline;
                }
            }
            @media (max-width: $screen-xs-max) {
                 .connect-links {
                    li {
                        display: block;
                    }
                }
            }
            .carousel {
                a.carousel-control {
                    height: 25px;
                    width: 25px;
                    top: 80%;

                    &.left {
                        left: 2%;
                    }
                    &.right {
                        right: 2%;
                    }
                }
                img {
                    width: 100%;
                    height: auto;
                }
                .glyphicon-chevron-left:before,
                .glyphicon-chevron-right:before {
                    content: none;
                }
            }
            .grey-bg {
                background: #eee;
                padding-top: 10px;

                .city-banners {
                    li {
                        display: block;
                        width: 20%;
                        padding: 1%;
                        float:left;

                        img {
                            width: 100%;
                        }
                    }
                }
                .direct-links {
                    li {
                        padding: 2% 1%;
                        list-style: none;

                        img {
                          width: 100%;
                        }
                    }
                }
                @media (max-width: $screen-xs-max) {
                    .direct-links {
                        li {
                          display: block;
                          width: 33%;
                          float: left;
                          padding: 1%;
                        }
                    }
                }
            }
            article {
                border-bottom: 1px dashed #eee;
                padding: 5px 0;
                display: block;
                float: left;

                h4 {
                    clear: both;
                }
                img {
                    float: left;
                    padding: 10px;
                }
                p {
                    padding: 10px;

                }
            }
        }
        footer {
            background: #84888b;
            color: #fff;
            padding-top: 10px;

            ul {
                padding-left:0;

                li {
                    display: inline;
                    border-right: 1px solid #fff;
                    padding-right:10px;
                }
                a {
                    color: #fff !important;
                }
            }
            .footer-right-img {
                img {
                    border: 1px solid #fff;
                    padding: 5px;
              }
            }
        }
    }
}